@media(max-width:600px){

}
html{
    box-sizing: border-box;
    max-width: 1920px;
}
.container{
    position: absolute;
    width: 95%;
}
.body{
    display: flex;
    color: #F8F2EE;
    font-family: Cooper Black;
    font-size: 25px;
    background-image: url('../img/background.png');
    background-size: cover;
    background-attachment: fixed
    
}
.cafeaddict{
    margin-top: 8%;
    font-size: 45px;
    margin-bottom: 1px;
    margin-left: 17%;
    letter-spacing: 10px;
}
.cafeaddictword{
    font-size: 50%;
    margin-left: 60px;
    line-height: 170%;
    margin-left: 17%;
    
}
.line{
    width: 450px;
    border: 3px;
    border-style: solid;
    border-color: #F8F2EE;
    margin-top: 10px;
    margin-left: -2px;
}
.menu{
    margin-left: 550px;
    margin-top: 10%;
}
.menu a {
    text-decoration: none;
    display: flex;
    color: #F8F2EE;
}
.nav-list{
    margin-top: 30%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 90%;
    margin-top: 8px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 150%;
    margin-left: 70%;
    letter-spacing: 5px;
    text-decoration: none;
}
.navlistword:hover {
	color: #F8F2EE;
}
.navlistword:hover>.navlistwordlink {
	color: #787e6a;
}
